.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.bloco_1{
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-content: center;
    background-color: rgb(127, 245, 141);
}
.bloco_2{
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-content: center;
    background-color: rgb(249, 225, 154);
}
.bloco_3{
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-content: center;
    background-color: rgb(127, 221, 245);
}
.bloco_4{
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-content: center;
    background-color: rgb(245, 127, 212);
}