.container{
    display: flex;
    flex-flow: row wrap;

}
.bloco_1{
    width: 300px;
    height: 550px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    align-content: center;
    border:1px solid black;
    border-radius: 10px;
}
.bloco_2{
    width: 300px;
    height: 550px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    align-content: center;
    border:1px solid black;
    border-radius: 10px;
}
.bloco_3{
    width: 300px;
    height: 550px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    align-content: center;
    border:1px solid black;
    border-radius: 10px;
}
.bloco_4{
    width: 300px;
    height: 550px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    align-content: center;
    border:1px solid black;
    border-radius: 10px;
}
.description{
    margin-top: 10px;
    padding: 10px;
    font-family: "Roboto", "Verdana", sans-serif;
}
.read-more{
    border-top: 1px solid black;
    text-align: center;
    align-content: center;
    height: 50px;
    background-color: antiquewhite;
}
.read-more a{
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}